.navbar {
  width: inherit;
  height: 75px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  transition: background-color 0.3s ease;
}
.navbar img {
  height: 75px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.navbar a {
  color: #ffffff;
  display: block;
  font: normal 0.5rem/1.5em sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.navbar li:hover a {
  font-weight: bold;
}
/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar img {
    height: 30px;
  }
}
/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar {
    height: 40px;
  }
  .navbar img {
    height: 20px;
  }
  .navbar ul {
    display: none;
  }
}
